body{
  background-color: rgb(19, 22, 22);
}

.to-do-list{
  font-family:Arial,sans-serif;
  text-align:center;
  margin-top:100px;
}

h1{
  font-size:4rem;
  color:aqua;
}
button{
  font-size: 1.7rem;
  font-weight:bold;
  padding:10px 20px;
  color:white;
  border:none;
  border-radius:5px;
  cursor:pointer;
  transition:background-color 0.5s ease;
}
.add-btn{
  background-color: rgb(89, 219, 89);
}
.add-btn:hover{
  background-color: rgb(84, 141, 84);
}


.delete-btn{
   background-color: rgb(233, 16, 16);
}

.delete-btn:hover{
   background-color: rgb(153, 26, 7);
}

.move-btn{
   background-color: rgb(43, 6, 36);
}

.move-btn:hover{
   background-color: rgb(213, 99, 222);
}
input[ type="text"]{
   font-size: 1.6rem;
   padding: 10px;
   border: 2px solid hsla(0, 0%, 50%,0.5);
   border-radius:5px;
   color:hsla(0, 0%, 0%,0.5);
}
  ol{
    padding:0;


  }
  li{
    font-size: 2rem;
    font-weight:bold;
    padding: 15px;
    background-color: hsl(0,0%,97%);
    margin-bottom:10px;
    border:3px solid hsla(171, 85%, 40%, 0.75);
    border-radius:5px;
    display: flex;
    align-items:center;
  }
  .text{
    flex:1;

  }
  .delete-btn, .move-btn{
    padding:8px 12px;
    font-size: 1.4rem;
    margin-left:10px;
  }